langchain
langchain-community
langchain-ollama
langchain-core

langchain-groq
langchain-google-genai
langchain-openai

faiss-cpu
sentence-transformers

docx2txt
ipykernel
python-dotenv
python-multipart

fastapi
uvicorn
Jinja2
pandas

langsmith
structlog
